<nav class="relative bg-primary shadow-lg bg-[url('https://img.freepik.com/vector-gratis/fondo-mosaico-rojo_1164-1008.jpg')]">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pokémon_logo.svg"
          alt="Pokémon Logo"
          class="h-8 w-auto"
        />
      </div>

      <div class="hidden sm:flex space-x-6">
        <a
          routerLink="/home"
          routerLinkActive="bg-secondary/20 text-accent"
          class="text-accent rounded-md px-3 py-2 text-sm font-bold hover:bg-secondary/20 transition cursor-pointer"
        >
          Home
        </a>
        <a
          routerLink="/pokedex"
          routerLinkActive="bg-secondary/20 text-accent"
          class="text-accent rounded-md px-3 py-2 text-sm font-bold hover:bg-secondary/20 transition cursor-pointer"
        >
          Pokédex
        </a>
        <a
          routerLink="/batallas"
          routerLinkActive="bg-secondary/20 text-accent"
          class="text-accent rounded-md px-3 py-2 text-sm font-bold hover:bg-secondary/20 transition cursor-pointer"
        >
          Batallas
        </a>
        <a
          routerLink="/entrenadores"
          routerLinkActive="bg-secondary/20 text-accent"
          class="text-accent rounded-md px-3 py-2 text-sm font-bold hover:bg-secondary/20 transition cursor-pointer"
        >
          Entrenadores
        </a>
      </div>

      <button
        type="button"
        class="rounded-full bg-white p-2 border-2 border-dark shadow-md hover:scale-110 transition cursor-pointer"
      >
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"
          alt="Pokeball"
          class="h-6 w-6"
        />
      </button>
    </div>
  </div>
</nav>
