<nav
  class="relative bg-blackpokeball shadow-lg 
  
  "
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center cursor-pointer" routerLink="/home">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pokémon_logo.svg"
          alt="Pokémon Logo"
          class="h-8 w-auto"
        />
      </div>

      <div class="max-[444px]:flex space-x-6">
        @for (route of routes; track $index) {
        <a
          [routerLink]="route.path"
          routerLinkActive="bg-hover/20 "
          class="text-yellowpokeball rounded-md px-3 py-2 text-sm font-bold hover:bg-hover/20 transition cursor-pointer"
        >
          {{ route.title }}
        </a>
        }
      </div>
    </div>
  </div>
</nav>
