@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";
@import "tailwindcss-primeui";
@theme {
  --color-blackpokeball: #1C1C1C;
  --color-yellowpokeball: #ffde00;
  --color-hover: #B22222;
  --color-cards: #4A4A4A;
}


* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 500;
}

body{
  background-color: var(--color-blackpokeball);
}