@import "tailwindcss";
@import "tailwindcss-primeui";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@theme {
  --color-primary: #ff1c1c;
  --color-secondary: #0070f3;
  --color-accent: #ffde00;
  --color-dark: #2e2e2e;
}


* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 500;
}
