<div
  class="h-full bg-white rounded-2xl shadow-lg overflow-hidden hover:scale-110 transition cursor-pointer"
  (click)="onPokemonClick()"
>
  <!-- Imagen -->
  <pokedex-image-pokemon [img]="computedPokemonSignal()" />

  <!-- Info -->
  <div class="p-4 text-center">
    <h2
      class="text-sm d text-gray-800"
      [ngStyle]="{
        color: computedPokemonSignal()?.color | pipeColorName
      }"
    >
      {{ computedPokemonSignal()?.name | titlecase }}
    </h2>
    <div class="flex justify-center space-x-2 items-center">
      @for (type of computedPokemonSignal()?.types; track $index) {
      <pokedex-type-pokemon
        [type]="type"
        class="opacity-0 animate-domino"
        [ngStyle]="{
          animationDelay: $index * 200 + 'ms'
        }"
      />
      }
    </div>
  </div>
</div>
